<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.content.mybatis.dao.CommentsDao">
 	<select id="SelectComments" parameterType="String" resultType="com.bean.Comments">
		select * from comments
	</select> 

	<insert id="insertComments" parameterType="HashMap">
		insert into
		Comments
		(id,name)
		values (
		#{id,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR}
		)
	</insert>
	
		<delete id="deleteComments" parameterType="Integer">
		delete from Comments where id = #{id,jdbcType=INTEGER}
	</delete>
</mapper>